
@mixin border{
  border:1px solid #ccc;
}
$padding:6px 10px;
.btn{
  @include border;
  padding:$padding;
  font-size:14px;
}
.btn-primary{
  background-color:#ffffff;
  color:#fff;
  @extend .btn
}
.btn-second{
  background-color:orange;
  color:#fff;
  @extend .btn;
}